[alias]
	st = status
	ci = commit
	co = checkout
	br = branch
	adog = log --all --decorate --oneline --graph
[user]
	email = dtorkelson@gmail.com
	name = The Spine
[core]
	autocrlf = input
    editor = vi
